consumer_key~fszG76i7fgKn5zaEGo9p4uljC9
consumer_secret~aAeFYr04vtyZoZFkqkhxGhALZdV7ipkLTcuBce7JUtPFgPu5Ey
access_token~211427413-px6XqBan26VJSztCMqh29kZMdakfPkmA28YFv9eD
access_secret~THvzEPgGqwvexH5B2ktNx7INoywkb0cAsEhyBPZ4f1Ykx

url~https://en.wikipedia.org/w/api.php?action=query&format=json&prop=pageprops&ppprop=disambiguation&redirects&titles=
dest_url~https://en.wikipedia.org/wiki/